.footer {
  position: relative;
  width: 100%;
  background-color: black;
  color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 28px 28px 0 0;
}

.footer_small_div {
  width: 100%;
}

.footer_link_wrapper {
  border-bottom: 1px solid var(--gray-dark);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 112px;
}

.footer_link_static {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0 5rem;
}

/* Styles for the animated (hovered) container */
.footer_animationDiv {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}

.footer_inner {
  display: flex;
  gap: 2rem;
  height: 100%;
  align-items: center;
}

/* Styles for each scrolling content item */
.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  position: relative;
  min-width: max-content;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.follow_div {
  padding: 3rem 0;
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 10rem 0;
  align-items: center;
}

.last_div {
  padding: 4rem;
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: -2px 50px 30px 10px rgb(0 0 0 / 62%);
  z-index: 5;
}


.followSpam {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 7rem;
}

.followSymbol {
  width: 5rem;
  height: 5rem;
}


.innerspan {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  background: black;
  border-radius: 50%;
}

.footer_icon {
  width: 2rem;
  height: 2rem;
}

.mail_div {
  padding: 1.6rem 2rem;
  border: 1px solid var(--white-light);
  border-radius: 2.8rem;
}

/* Media queries */
@media only screen and (max-width: 950px) {
  .footer ul {
    padding: 0;
  }

  .first_row {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 4rem 0 2.5rem;
  }

  .first_row h2 {
    font-size: 55px;
  }

  .first_row h3 {
    font-size: 40px;
  }

  .first_row h3::after {
    content: "div";
    position: absolute;
    left: 10%;
    top: 60px;
    width: 75%;
    height: 1px;
    background-color: #ccc;
  }

  .align_right {
    text-align: center;
    align-self: center;
    margin-top: 30px;
  }

  .social_icon_container {
    justify-content: space-around;
  }

  .social_icon_container img {
    margin-right: 0;
  }

  .last_row {
    flex-direction: column;
    text-align: center;
    padding-bottom: 2.5rem;
  }

  .copyright_band {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .followSpam {
    font-size: 5rem;
  }

  .follow_div {
    padding: 2.5rem;
  }

  .footer_link_static {
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  .followSpam {
    font-size: 4.25rem;
  }

}