@import "tailwindcss";

@font-face {
  font-family: "Matter";
  src: url("../assets/fronts/matter/Matter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("../assets/fronts/matter/Matter-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}



:root {
  --dark: #181818;
  --green: #80fb8d;
  --blue: #6587ff;
  --pink: #ff5975;
  --gray-light: #d4d4d4;
  --gray-medium: #aaaaaa;
  --gray-semi-dark: #919191;
  --gray-dark: #6a6a6a;
  --white-light: #f2f0f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  font-family: "Matter", sans-serif;
  scroll-behavior: smooth;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

body::selection{
  color: white;
  background-color: var(--dark);
}


footer {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

/* Container */

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}


/* ============================================================== CRAOUSEL ====================================================================== */

.embla {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  --slide-height: 19rem;
  --slide-spacing: 5rem;
  --slide-size: 70%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide_cover {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding: 2rem 2rem 2rem var(--slide-spacing);
}

.embla_star {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding-bottom: 4rem;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding: 2rem 2rem 2rem var(--slide-spacing);
  border: 1px solid white;
  border-radius: 1.8rem;
  color: white;
}


.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__controls {
  display: grid;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
}

.embla__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.embla__buttons:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  background-color: white;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--gray-dark);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--gray-dark);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected {
  background: white;
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

@media (max-width: 480px) {

  .embla__slide,
  .embla__slide_cover {
    padding: 1rem;
  }

  .embla__button {
    width: 2.25rem;
    height: 2.25rem;
  }

  .embla__container {
    margin-left: 0rem;
  }
}